@import "breakpoints";

.iframe {
  width: 100vw;
  position: absolute;
  min-height: 100vh;
  top: 100vh;

  @include for-iPhoneX-portrait-only {
    min-height: 150vh;
    top: 70vh;
  }
  @include for-iPhoneX-landscape-only {
    min-height: 250vh;
    top: 100vh;
  }

  @include for-iPhone-6Plus-7Plus-8Plus-portrait-only {
    min-height: 150vh;
    top: 80vh;
  }
  @include for-iPhone-6Plus-7Plus-8Plus-landscape-only {
    min-height: 250vh;
    top: 100vh;
  }

  @include for-iPhone6-7-8-portrait-only {
    min-height: 150vh;
    top: 80vh;
  }
  @include for-iPhone6-7-8-landscape-only {
    min-height: 300vh;
    top: 100vh;
  }

  @include for-iPhone5-portrait-only {
    min-height: 200vh;
    top: 80vh;
  }
  @include for-iPhone5-landscape-only {
    min-height: 300vh;
    top: 100vh;
  }

  @include for-iPad-portrait-only {
    min-height: 100vh;
    top: 100vh;
  }
  @include for-iPad-landscape-only {
    min-height: 120vh;
    top: 100vh;
  }

  @include for-iPad-Pro-portrait-only {
    min-height: 70vh;
    top: 100vh;
  }
  @include for-iPad-Pro-landscape-only {
    min-height: 90vh;
    top: 100vh;
  }
}
