.iframe {
  width: 100vw;
  position: absolute;
  min-height: 100vh;
  top: 100vh;
  /* iPhone X ----------- */
  /* iPhone X ----------- */
  /* iPhone 6+, 7+, 8+ ----------- */
  /* iPhone 6+, 7+, 8+ ----------- */
  /* iPhone 6, 7, 8 ----------- */
  /* iPhone 6, 7, 8 ----------- */
  /* iPhone 5 ----------- */
  /* iPhone 5 ----------- */
  /* iPads (portrait) ----------- */
  /* iPads (landscape) ----------- */
  /* iPad Pro (portrait) ----------- */
  /* iPad Pro (landscape) ----------- */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 150vh;
    top: 70vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 250vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 150vh;
    top: 80vh;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 250vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 150vh;
    top: 80vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 300vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 200vh;
    top: 80vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 300vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .iframe {
    min-height: 100vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .iframe {
    min-height: 120vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .iframe {
    min-height: 70vh;
    top: 100vh;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .iframe {
    min-height: 90vh;
    top: 100vh;
  }
}

body {
  overflow-x: hidden;
}

.content-container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.card-container {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

.card-background {
  width: 100%;
  /*max-width: 1920px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  font-family: Quicksand;
}

.title {
  width: 100%;
  text-align: center;
  top: 18%;
  padding-left: 16.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 4vw;
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 96px;
  }
}

.spouse1 {
  width: 100%;
  top: 23%;
  /* padding-left: 25vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 11vw;
  text-align: center;
}

.vs {
  width: 100%;
  top: 32%;
  /* padding-left: 46.6vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 3vw;
  text-align: center;
}

.spouse2 {
  width: 100%;
  top: 32%;
  /* padding-left: 17.6vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 11vw;
  text-align: center;
}

.journey {
  width: 100%;
  text-align: center;
  top: 59%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-size: 4vw;
}

.countdownContainer {
  width: 100%;
  top: 45%;
  padding-left: 22.6vw;
  padding-right: 21.5vw;
  font-size: 4.5vw;
  text-align: center;
}

/*.flipdown {
    width: unset !important;
    height: unset !important;
    top: 37%;
    padding-left: 18.6vw;
    font-size: 3vw;
    font-weight: normal !important;
}
    .flipdown .rotor,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor-leaf,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-leaf-front {
        width: 5.5vw !important;
    }*/
.venue {
  width: 100%;
  text-align: center;
  top: 64%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-size: 5vw;
}

.venue p {
  margin-bottom: 0px !important;
}

.venue1 {
  position: relative;
  width: 50%;
  padding-left: 6.5vw;
  padding-right: unset;
  font-size: 3vw;
}

.venue2 {
  width: 30%;
  margin-left: 35vw;
  padding-right: unset;
  font-size: 3vw;
}
/*# sourceMappingURL=style.css.map */
