@import "breakpoints";
@import "calendar";

.iframe {
  width: 100vw;
  position: absolute;
  min-height: 100vh;
  // top: 100vh;

  @include for-iPhoneX-portrait-only {
    min-height: 162vh;
    // top: 70vh;
  }
  @include for-iPhoneX-landscape-only {
    min-height: 250vh;
    // top: 100vh;
  }

  @include for-iPhone-6Plus-7Plus-8Plus-portrait-only {
    min-height: 173vh;
    // top: 80vh;
  }
  @include for-iPhone-6Plus-7Plus-8Plus-landscape-only {
    min-height: 250vh;
    // top: 100vh;
  }

  @include for-iPhone6-7-8-portrait-only {
    min-height: 195vh;
    // top: 80vh;
  }
  @include for-iPhone6-7-8-landscape-only {
    min-height: 300vh;
    // top: 100vh;
  }

  @include for-iPhone5-portrait-only {
    min-height: 200vh;
    // top: 80vh;
  }
  @include for-iPhone5-landscape-only {
    min-height: 300vh;
    // top: 100vh;
  }

  @include for-iPad-portrait-only {
    min-height: 100vh;
    // top: 100vh;
  }
  @include for-iPad-landscape-only {
    min-height: 120vh;
    // top: 100vh;
  }

  @include for-iPad-Pro-portrait-only {
    min-height: 70vh;
    // top: 100vh;
  }
  @include for-iPad-Pro-landscape-only {
    min-height: 90vh;
    // top: 100vh;
  }
}

body {
  overflow-x: hidden;
}

.content-container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.card-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.card-background {
  width: 114%;
  height: 100%;
  /*max-width: 1920px;*/
  display: flex;
  margin-left: -7vw;
  margin-right: auto;
}

.overlay {
  position: absolute;
  font-family: Quicksand;
}

.title {
  width: 100%;
  text-align: center;
  top: 18%;
  padding-left: 16.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 4vw;
}

.request {
  width: 100%;
  text-align: center;
  top: 78%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 3vw;
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 96px;
  }
}

.spouse1 {
  width: 100%;
  top: 23%;
  /* padding-left: 25vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 11vw;
  text-align: center;
}

.vs {
  width: 100%;
  top: 31%;
  /* padding-left: 46.6vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 3vw;
  text-align: center;
}

.spouse2 {
  width: 100%;
  top: 32%;
  /* padding-left: 17.6vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 11vw;
  text-align: center;
}

.journey {
  width: 100%;
  text-align: center;
  top: 59%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-size: 4vw;
}

.countdownContainer {
  width: 100%;
  top: 45%;
  padding-left: 22.6vw;
  padding-right: 21.5vw;
  font-size: 4.5vw;
  text-align: center;
}

/*.flipdown {
    width: unset !important;
    height: unset !important;
    top: 37%;
    padding-left: 18.6vw;
    font-size: 3vw;
    font-weight: normal !important;
}
    .flipdown .rotor,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor-leaf,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-leaf-front {
        width: 5.5vw !important;
    }*/

.venue {
  width: 100%;
  text-align: center;
  top: 64%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-size: 5vw;
}

.venue p {
  margin-bottom: 0px !important;
}

.venue1 {
  position: relative;
  width: 50%;
  padding-left: 6.5vw;
  padding-right: unset;
  font-size: 3vw;
}

.venue2 {
  width: 100%;
  margin-left: -14vw;
  padding-right: unset;
  font-size: 3vw;
}
