*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: #f6e9dc;
  -webkit-box-shadow: 0px 0px 0px 2px #e66053, 10px 10px 20px 10px rgba(78, 79, 74, 0.5);
          box-shadow: 0px 0px 0px 2px #e66053, 10px 10px 20px 10px rgba(78, 79, 74, 0.5);
  -ms-flex-preferred-size: 980px;
      flex-basis: 980px;
}

.calendar {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.calendar__day__header,
.calendar__day__cell {
  border: 2px solid #e66053;
  text-align: center;
  width: 100% / 7;
  vertical-align: middle;
}

.calendar__day__header:first-child,
.calendar__day__cell:first-child {
  border-left: none;
}

.calendar__day__header:last-child,
.calendar__day__cell:last-child {
  border-right: none;
}

.calendar__day__header,
.calendar__day__cell {
  padding: 0.75rem 0 1.5rem;
}

.calendar__banner--month {
  border: 2px solid #e66053;
  border-bottom: none;
  text-align: center;
  padding: 0.75rem;
}

.calendar__banner--month h1 {
  background-color: #4e4f4a;
  color: #f6e9dc;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.calendar__day__header {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.calendar__day__cell {
  font-size: 4rem;
  position: relative;
}

tr:nth-child(odd) > .calendar__day__cell:nth-child(odd) {
  color: #e66053;
}

tr:nth-child(even) > .calendar__day__cell:nth-child(even) {
  color: #e66053;
}

.calendar__day__cell[data-moon-phase] {
  background-color: #e66053;
  color: #4e4f4a;
}

.calendar__day__cell[data-moon-phase]:after {
  content: attr(data-moon-phase);
  color: #f6e9dc;
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}

.calendar__day__cell[data-bank-holiday] {
  background-color: #4e4f4a;
  border-color: #4e4f4a;
  border-bottom: none;
  color: #f6e9dc;
}

.calendar__day__cell[data-bank-holiday]:after {
  content: attr(data-bank-holiday);
  color: #f6e9dc;
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}

.iframe {
  width: 100vw;
  position: absolute;
  min-height: 100vh;
  /* iPhone X ----------- */
  /* iPhone X ----------- */
  /* iPhone 6+, 7+, 8+ ----------- */
  /* iPhone 6+, 7+, 8+ ----------- */
  /* iPhone 6, 7, 8 ----------- */
  /* iPhone 6, 7, 8 ----------- */
  /* iPhone 5 ----------- */
  /* iPhone 5 ----------- */
  /* iPads (portrait) ----------- */
  /* iPads (landscape) ----------- */
  /* iPad Pro (portrait) ----------- */
  /* iPad Pro (landscape) ----------- */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 162vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 250vh;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 173vh;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    min-height: 250vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 195vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 300vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 200vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    min-height: 300vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .iframe {
    min-height: 100vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .iframe {
    min-height: 120vh;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .iframe {
    min-height: 70vh;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .iframe {
    min-height: 90vh;
  }
}

body {
  overflow-x: hidden;
}

.content-container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.card-background {
  width: 129%;
  height: 107%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -14vw;
  margin-right: auto;
  margin-top: -12vw;
}

@media screen and (min-width: 1024px) {
  .card-background {
    height: 120%;
    margin-top: -7vw;
  }
}

@media screen and (min-width: 1366px) {
  .card-background {
    margin-left: -11vw;
  }
}

.overlay {
  position: absolute;
  font-family: Quicksand;
}

.title {
  width: 100%;
  text-align: center;
  top: 23%;
  padding-left: 16.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 4vw;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 40.96px;
  }
}

.request {
  width: 100%;
  text-align: center;
  top: 78%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 3vw;
}

.spouse1 {
  width: 100%;
  top: 28%;
  /* padding-left: 25vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 11vw;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .spouse1 {
    font-size: 112px;
  }
}

.vs {
  width: 100%;
  top: 35.5%;
  /* padding-left: 46.6vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 3vw;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .vs {
    font-size: 30.72px;
    top: 36.5%;
  }
}

.spouse2 {
  width: 100%;
  top: 37%;
  /* padding-left: 17.6vw; */
  /* padding-right: 12.5vw; */
  font-family: Allura;
  font-size: 11vw;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .spouse2 {
    font-size: 112px;
  }
}

.journey {
  width: 100%;
  text-align: center;
  top: 59%;
  padding-left: 13.6vw;
  padding-right: 12.5vw;
  font-size: 3.5vw;
}

.countdownContainer {
  width: 100%;
  top: 84%;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  font-size: 4.5vw;
  text-align: center;
}

/*.flipdown {
    width: unset !important;
    height: unset !important;
    top: 37%;
    padding-left: 18.6vw;
    font-size: 3vw;
    font-weight: normal !important;
}
    .flipdown .rotor,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor-leaf,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-leaf-front {
        width: 5.5vw !important;
    }*/
.venue {
  width: 100%;
  text-align: center;
  top: 46%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-size: 5vw;
}

.venue .datetime {
  font-size: 8vw;
}

@media screen and (min-width: 1024px) {
  .venue {
    top: 48%;
  }
  .venue .datetime {
    font-size: 81.92px;
  }
}

.venue p {
  margin-bottom: 0px !important;
}

.venue1 {
  position: relative;
  width: 50%;
  padding-left: 6.5vw;
  padding-right: unset;
  font-size: 3vw;
}

.venue2 {
  width: 100%;
  margin-left: -14vw;
  padding-right: unset;
  font-size: 3vw;
}

@media screen and (min-width: 1024px) {
  .venue2 {
    font-size: 25.6px;
  }
}

.invitation {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */