@import "breakpoints";
@import "calendar";

.iframe {
  width: 100vw;
  position: absolute;
  min-height: 100vh;
  // top: 100vh;

  @include for-iPhoneX-portrait-only {
    min-height: 162vh;
    // top: 70vh;
  }
  @include for-iPhoneX-landscape-only {
    min-height: 250vh;
    // top: 100vh;
  }

  @include for-iPhone-6Plus-7Plus-8Plus-portrait-only {
    min-height: 173vh;
    // top: 80vh;
  }
  @include for-iPhone-6Plus-7Plus-8Plus-landscape-only {
    min-height: 250vh;
    // top: 100vh;
  }

  @include for-iPhone6-7-8-portrait-only {
    min-height: 195vh;
    // top: 80vh;
  }
  @include for-iPhone6-7-8-landscape-only {
    min-height: 300vh;
    // top: 100vh;
  }

  @include for-iPhone5-portrait-only {
    min-height: 200vh;
    // top: 80vh;
  }
  @include for-iPhone5-landscape-only {
    min-height: 300vh;
    // top: 100vh;
  }

  @include for-iPad-portrait-only {
    min-height: 100vh;
    // top: 100vh;
  }
  @include for-iPad-landscape-only {
    min-height: 120vh;
    // top: 100vh;
  }

  @include for-iPad-Pro-portrait-only {
    min-height: 70vh;
    // top: 100vh;
  }
  @include for-iPad-Pro-landscape-only {
    min-height: 90vh;
    // top: 100vh;
  }
}

body {
  overflow-x: hidden;
  // color: white;
}

.content-container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  color: #8e8e40;
}

.card-background {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1024px) {
  }

  @media screen and (min-width: 1366px) {
  }
}

.overlay {
  position: absolute;
  font-family: Quicksand;
}

.title {
  width: 100%;
  text-align: center;
  top: 11%;
  padding-left: 16.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 4vw;

  @media screen and (min-width: 1024px) {
    font-size: 40.96px;
  }
}

.request {
  width: 100%;
  text-align: center;
  top: 78%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-family: Quicksand;
  font-size: 3vw;
}

.spouse1 {
  width: 100%;
  top: 20%;
  font-family: Allura;
  font-size: 11vw;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 112px;
  }
}

.vs {
  width: 100%;
  top: 29%;
  font-family: Allura;
  font-size: 5vw;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 47px;
    top: 29%;
  }
}

.spouse2 {
  width: 100%;
  top: 33%;
  font-family: Allura;
  font-size: 11vw;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 112px;
  }
}

.journey {
  width: 100%;
  text-align: center;
  top: 59%;
  padding-left: 13.6vw;
  padding-right: 12.5vw;
  font-size: 3.5vw;
}

.countdownContainer {
  width: 100%;
  top: 78%;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  font-size: 4.5vw;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 47px;
  }
}

.venue {
  width: 100%;
  text-align: center;
  top: 46%;
  padding-left: 14.6vw;
  padding-right: 12.5vw;
  font-size: 5vw;

  .datetime {
    font-size: 8vw;
  }

  @media screen and (min-width: 1024px) {
    top: 48%;

    .datetime {
      font-size: 81.92px;
    }
  }
}

.venue p {
  margin-bottom: 0px !important;
}

.venue1 {
  position: relative;
  width: 50%;
  padding-left: 6.5vw;
  padding-right: unset;
  font-size: 3vw;
}

.venue2 {
  width: 100%;
  margin-left: -14vw;
  padding-right: unset;
  font-size: 3vw;

  @media screen and (min-width: 1024px) {
    font-size: 25.6px;
  }
}

.invitation {
  text-transform: uppercase;
}

.form-container {
  position: relative;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand";
  color: #8e8e40;

  form {
    position: absolute;
    bottom: 20px;
    background: transparent;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    label {
      font-weight: bold;
    }

    input.form-control::-webkit-input-placeholder {
      color: #8e8e40;
    }

    button {
      width: 100px;
      background-color: #8e8e40;
      border-color: unset;
    }
  }
}

.swal2-confirm.swal2-styled {
  background-color: #8e8e40 !important;
  border-color: unset !important;
}

.swal2-title,
.swal2-html-container {
  font-family: Allura !important;
  font-size: 30px !important;
}
